body{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
#calculator{
    width: 800px;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.233);
    background-color: gray;
    margin-top: 100px;
    border-radius: 10px;
}
.screen{
    width: 500px;
    height: 50px;
    margin: 80px 140px;
    border: black 2px solid;
    border-radius: 10px;
    font-size: 25px;
}
button{
    width: 110px;
    height: 50px;
    margin: 10px 15px;
    margin-left: 30px;
}
#C{
    background-color: brown;
    font-size:  25px; ;
}
.numb{
    font-size: 25px;
    background-color: rgb(77, 192, 77);
}
#blue{
   background-color: blue;
}
h1{
    color: rgb(65, 148, 65);
   margin-left: 20%;
   margin-top: 10%;
   font-size: 50px;
}